@media (max-width: 1367px) {
  .intro__title {
    font-size: 35px;
    line-height: 50px;
  }
  .intro__text {
    font-size: 18px;
  }
  .register-btn {
    width: 415px;
  }
  .register-btn a {
    font-size: 20px;
  }
}
@media (max-width: 1240px) {
  .review {
    padding-bottom: 150px;
  }
  .review .slick-prev,
  .review .slick-next {
    top: unset;
    bottom: -115px;
  }
  .review .slick-next {
    right: 30%;
  }
  .review .slick-prev {
    left: 30%;
  }
  .review .slick-dots {
    display: none;
  }
}
@media (max-width: 1050px) {
  .about {
    background-position: 123% 10%;
    background-size: 36%;
  }
  .about__inner-item {
    margin: 15px auto;
  }
  .about__inner-item:nth-child(1),
  .about__inner-item:nth-child(2) {
    margin-bottom: unset;
  }
  .work__item {
    margin: 15px auto;
  }
  .register__road-map,
  .register__form {
    margin: 0 auto 10px;
  }
  .contacts__inner-item:nth-child(2) {
    display: none;
  }
  .contacts__inner {
    border: none;
  }
  .contacts__inner-item {
    border: 3px dashed #282d26;
  }
  .contacts__inner-item__top {
    margin-bottom: 0;
    border-top: none;
    flex-wrap: wrap;
    width: unset;
    img {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
  .contacts__inner-item__top.left {
    border-right: none;
  }
  .contacts__inner-item__top.right {
    border-left: none;
  }
  .contacts__inner-item__title {
    text-align: center;
    font-size: 15px;
    line-height: 17px;
  }
  .contacts__link-item span {
    font-size: 15px;
    line-height: 17px;
  }
  .contacts__inner-item.middle {
    display: block;
    font-size: 15px;
    line-height: 17px;
  }
  .contacts__inner-item.middle::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .header {
    height: 70px;
  }
  .header__list-item a {
    font-size: 12px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .header__list-item + .header__list-item {
    margin-left: 35px;
  }
  .intro__title {
    font-size: 28px;
    line-height: 40px;
    width: 370px;
    margin-right: 20px;
    margin-bottom: 15px;
  }
  .intro__text {
    width: 380px;
    margin-bottom: 50px;
  }
  .title {
    font-size: 35px;
    line-height: 50px;
  }
  .specification__title-text {
    font-size: 19px;
  }
  .specification__content {
    font-size: 17px;
    line-height: 20px;
    margin-top: 10px;
  }
  .price__inner-item__text {
    font-size: 16px;
    line-height: 19px;
  }
  .price__inner-item:first-child img {
    width: 150px;
  }
  .price__inner-item:first-child {
    height: unset;
  }
  .price__inner-item:nth-child(2) img {
    width: 200px;
  }
  .price__inner-item:nth-child(2) {
    height: unset;
  }
  .price__inner-item:nth-child(3) img {
    width: 150px;
  }
  .price__inner-item:nth-child(3) {
    height: unset;
  }
  .price__inner-item {
    height: unset;
  }
  .price .price__text-second::before {
    background-image: url(../images/price-arrow-top-mobile.png);
    right: -25px;
  }
  .price .price__text-first::before {
    background-image: url(../images/price-arrow-bottom-mobile.png);
    left: -25px;
    top: -235%;
  }
}

@media (max-width: 767px) {
  .header {
    height: unset;
    padding: 10px;
  }
  .header__menu {
    display: none;
  }
  .header__mobile {
    display: flex;
  }
  .intro {
    padding-top: 25px;
  }
  .intro__inner {
    display: block;
  }
  .intro__right-section {
    margin-right: 0;
  }
  .register-btn__right-section a {
    font-size: 16px;
    line-height: 23px;
  }
  .register-btn__right-section {
    display: block;
    width: 370px;
    margin: 0 auto;
  }
  .register-btn__left-section {
    display: none;
  }
  .intro__title {
    padding: 0 15px;
    text-align: center;
    margin: 0 auto 14px;
    width: 500px;
    font-size: 45px;
    line-height: 48px;
    width: 100%;
  }
  .intro__text {
    text-align: center;
    padding: 0 15px;
    margin: 0 auto 50px;
    width: 500px;
    font-size: 23px;
  }
  .intro__ellipse-wrapper {
    margin-bottom: 20px;
  }
  .intro__ellipse-img {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .intro__left-arrow,
  .intro__right-arrow {
    bottom: 120px;
  }
  .specification__inner-item {
    width: 380px;
    margin: 15px auto;
    & + .specification__inner-item {
      position: relative;
      z-index: 1;
      &::before {
        content: "";
        position: absolute;
        width: 310px;
        height: 96px;
        top: -100px;
        left: 44px;
        background-image: url(../images/route-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  .specification__title {
    font-size: 14px;
  }
  .specification__title-text {
    font-weight: 700;
    font-size: 14px;
  }
  .specification__content {
    font-size: 14px;
    margin-top: 25px;
  }
  .review__slider-item__title {
    font-size: 14px;
    line-height: 14px;
  }
  .review__slider-item__content {
    font-size: 12px;
    line-height: 15px;
  }
  .review {
    padding-bottom: 100px;
  }
  .review .slick-prev,
  .review .slick-next {
    width: 25px;
    height: 50px;
    bottom: -75px;
  }
  .price .price__text-first,
  .price .price__text-second {
    width: 157px;
    font-size: 11px;
    line-height: 13px;
  }
  .contacts__inner-item__title {
    font-size: 12px;
    line-height: 15px;
    width: 100px;
  }
  .contacts__inner-item.middle {
    font-size: 12px;
    line-height: 15px;
  }
  .contacts__inner-item__top {
    padding: 10px 5px;
  }
  .contacts__inner-item__top img {
    width: 129px;
  }
  .contacts__link-item {
    margin: 15px auto;
  }
  .footer__inner {
    font-size: 11px;
    line-height: 13px;
  }
}
@media (max-width: 720px) {
  .contacts__link-item {
    width: unset;
  }
  .contacts__inner-item__content {
    padding-left: 10px;
  }
  .contacts__link-item img {
    width: 49px;
  }
}
@media (max-width: 600px) {
  .intro__title {
    font-size: 35px;
    line-height: 40px;
  }
  .intro__text {
    width: auto;
    font-size: 19px;
    margin-bottom: 30px;
  }
  .title {
    font-size: 25px;
    line-height: 35px;
  }
  .about__inner-item {
    font-size: 13px;
    line-height: 16px;
  }
  .work__item {
    font-size: 13px;
    line-height: 16px;
    padding: 18px 50px 18px 15px;
  }
  .work__item-title {
    font-size: 14px;
  }
  .work__item-content {
    font-size: 14px;
    line-height: 17px;
  }
  .work__item-img {
    width: 60px;
  }
  .register__road-map__title {
    font-size: 14px;
  }
  .register__road-map ol li {
    font-size: 14px;
    line-height: 17px;
    width: 237px;
  }
  .register__form-item {
    font-size: 13px;
    line-height: 16px;
    input {
      width: 100%;
    }
  }
  .register__form-agree {
    font-size: 11px;
    line-height: 16px;
  }
  .register__road-map ol::after {
    height: 423px;
  }
  .register-btn__bottom {
    width: 100%;
    padding: 10px;
    a {
      font-size: 18px;
    }
  }
  .thanks-form__wrapper {
    width: unset;
  }
  .thanks-form h3 {
    font-size: 24px;
    line-height: 29px;
    margin: 15px auto 10px;
  }
  .thanks-form {
    p {
      font-size: 14px;
      line-height: 18px;
      padding: 0 5px;
    }
  }
  .contacts__link-item span {
    display: none;
  }
  .contacts__link-item img {
    margin: 0 auto;
  }
  .contacts__inner-item.middle::before {
    width: 25px;
    height: 21px;
    bottom: -13px;
  }
  .contacts__inner-item.middle {
    margin-bottom: 0;
  }
}
@media (max-width: 585px) {
  .header__mobile-img__item {
    width: 75px;
  }
  .header__mobile-title {
    font-size: 18px;
  }
  .intro__left-arrow {
    left: 10px;
  }
  .intro__right-arrow {
    right: 10px;
  }
  .price__inner-item:first-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .price__inner-item:nth-child(3) {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .price .price__text-first {
    left: unset;
    bottom: -210%;
  }
  .price .price__text-second {
    top: -230%;
  }
}
@media (max-width: 519px) {
  .contacts__inner-item:first-child {
    border-right: none;
  }
}
@media (max-width: 490px) {
  .intro__title {
    font-size: 24px;
    line-height: 27px;
  }
  .intro__left-arrow {
    left: 0;
    bottom: 95px;
  }
  .intro__right-arrow {
    right: 0;
    bottom: 95px;
  }
  .register-btn__right-section {
    width: 100%;
    padding: 10px;
  }
  .register-btn__right-section a {
    font-size: 14px;
    line-height: 18px;
  }
  .intro__text {
    font-size: 14px;
    line-height: 17px;
  }
  .intro__ellipse-img {
    width: 80%;
  }
  .intro__left-arrow::before {
    right: 33px;
  }
  .intro__left-arrow,
  .intro__right-arrow {
    bottom: 70px;
  }
  .specification__inner-item {
    width: 296px;
  }
  .specification__content {
    font-size: 13px;
    line-height: 17px;
    letter-spacing: -1px;
  }
  .specification__inner-item + .specification__inner-item::before {
    width: 274px;
    height: 88px;
    top: -93px;
    left: 15px;
  }
  .price .price__text-second::before {
    right: -15px;
  }
  .price__inner-item:first-child img {
    width: 120px;
  }
  .price__inner-item:nth-child(2) img {
    width: 160px;
  }
  .price__inner-item:nth-child(3) img {
    width: 120px;
  }
  .price .price__text-second {
    top: -295%;
    right: 0;
  }
  .price .price__text-first {
    bottom: -275%;
  }
  .price .price__text-first::before {
    left: -55px;
  }
  .register__road-map ol li {
    width: 220px;
  }
  .register-btn__bottom a {
    font-size: 14px;
    line-height: 18px;
  }
}
